.logo{
    width: 182px;
    height: 153px;
}
.landing{
    padding: 89px 74px 74px 89px;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
}
@media (max-width: 650px) {
    .landing {
      padding: 20px 15px 15px 20px;
    }
}
.contact{
    display: flex;
    padding: 10px 40px;
    min-width: 200px;
    text-align: center;
    border-radius: 21px;
    background: #000;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: #FFF;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 700;
    font-style: normal;
}
.Showcase{
    height: 38px;
    flex-shrink: 0;
    border-radius: 21px;
    border: none;
    background: #508AFF;
    max-width: 180px;
    transform: rotate(0.002deg);
    flex-shrink: 0;
    color: #FFF;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -1.4px;
}
.nav-text{
    color: #232323;
    font-family: Montserrat;
    font-size: 70px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -4.9px;
}
.social-text{
    color: #232323;
    font-family: Montserrat;
    font-size: 90px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -6.3px;
}
.success-text{
    color: #232323;
    font-family: Montserrat;
    font-size: 90px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -6.3px;
}
.home-scroll{
    background-color: black;
    color: white;
    padding: 20px;
    position: relative;
    width: 100%;
    z-index: 2;
    height: 1000px;
}
