.logo {
    width: 182px;
    height: 153px;
}

.landing {
    padding: 89px 74px 74px 89px;
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    z-index: 1;
    overflow-x: hidden !important;
    overflow-y: scroll;
}

@media (max-width: 765px) {
    .landing {
        padding: 20px 15px 15px 20px;
    }
    .home-fixed {
        padding: 20px 15px 15px 20px !important;
    }
    .dest{
        width: 100px !important;
    }
    .provide{
        justify-content: center;
        font-size: 40px !important;
    }
    .des-text{
        font-size: 50px !important; 
        padding-left: 10px !important;
    }
    .points-text{
        font-size: 50px !important; 
        padding-left: 10px !important;
    }
}
@media (max-width: 465px) {
    .des-text{
        font-size: 40px !important; 
        padding-left: 10px !important;
    }
    .points-text{
        font-size: 40px !important; 
        padding-left: 10px !important;
    }
    .back{
        width: 70px !important;
    }
    .abs{
        width: 200px !important;
    }
    .provide{
        justify-content: center;
        font-size: 25px !important;
    }
    .dest{
        width: 70px !important;
    }
}

.contact {
    display: flex;
    padding: 10px 40px;
    min-width: 200px;
    text-align: center;
    border-radius: 21px;
    background: #000;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: #FFF;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 700;
    font-style: normal;
}

.Showcase {
    height: 38px;
    flex-shrink: 0;
    border-radius: 21px;
    border: none;
    background: #508AFF;
    max-width: 180px;
    transform: rotate(0.002deg);
    flex-shrink: 0;
    color: #FFF;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -1.4px;
}

.nav-text {
    color: #232323;
    font-family: Montserrat;
    font-size: 70px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -4.9px;
}

.social-text {
    color: #232323;
    font-family: Montserrat;
    font-size: 90px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -6.3px;
}

.success-text {
    color: #232323;
    font-family: Montserrat;
    font-size: 90px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -6.3px;
}

.home-scroll {
    background-color: black;
    color: white;
    padding: 20px;
    position: relative;
    width: 100%;
    z-index: 2;
    height: 10000px;
    margin-top: 100vh;
}

.arrow {
    width: 96px;
    height: 39px;
    background-color: #131313;
    border-radius: 10px 10px 5px 5px;
    border: none;
    margin-top: -70px
}

.with-transition {
    transition: transform 0.5s ease-in-out;
    /* Adjust the duration and easing function as needed */
}

.home-fixed {
    padding: 89px 74px 74px 89px;
    width: 100%;
    height: 100vh;
}

.des-text {
    color: #FFF;
    font-family: Montserrat;
    font-size: 4vw;
    font-style: normal;
    font-weight: 700;
    line-height: 83.501%;
    letter-spacing: -4.2px;
}
.points-text{
    color: #FFF;
font-family: Montserrat;
font-size:4vw;
font-style: normal;
font-weight: 400;
line-height: 83.501%;
letter-spacing: -4.2px;
}
.provide{
    color: #FFF;
    font-family: Montserrat;
    font-size: 40px;
    font-style: normal;
    font-weight: 100;
    padding-left: 50px;
    padding-top: 10px;
    line-height: 83.501%; /* 33.401px */
}
.abs{
    width: 100%;
}
.back{
    width:100%;
    margin-top: 10px;
}
.section-img{
    width: 100%;
    padding: 10px;
}
.section-img-1{
    width: 100%;
    padding: 5px;
}
.dest{
    width: 100%;
}